---
import Link from '@components/Link.astro'
---

<div class='w-full grid gap-4'>
  <div>
    <p
      class='font-mono text-primary lg:text-base text-sm mb-4'>
      Abierto a nuevas oportunidades.
    </p>
    <h2 class='lg:text-6xl md:text-5xl text-4xl font-bold'>
      Escribeme,
    </h2>
    <h2
      class='lg:text-6xl md:text-5xl text-4xl font-bold text-slate'>
      conversemos, conectémonos.
    </h2>
  </div>
  <p class='max-w-xl lg:text-base text-sm text-slate'>
    Estoy abierto a nuevas oportunidades, proyectos y
    colaboraciones. Si tienes alguna pregunta o quieres
    trabajar conmigo, no dudes en contactarme.
  </p>
</div>
<div class='w-full grid lg:gap-4 gap-2'>
  <h3 class='lg:text-4xl text-2xl font-bold'>
    Correo Electrónico
  </h3>
  <p
    class='w-full border-2 border-primary rounded lg:text-base text-sm lg:pt-2 pt-1.5 lg:pb-2.5 pb-2 lg:px-4 px-3'>
    ariel.salgado.acevedo@gmail.com
  </p>
</div>
<div
  class='lg:justify-self-start justify-self-center lg:mt-0 mt-6'>
  <Link href='mailto:ariel.salgado.acevedo@gmail.com'>
    Cuenta conmigo
  </Link>
</div>
