---
import Link from '@components/Link.astro'
---

<div>
  <p
    class='font-mono text-primary lg:text-lg text-base mb-4'>
    Hola!, mi nombre es
  </p>
  <h1 class='lg:text-7xl md:text-6xl text-4xl font-bold'>
    Ariel Salgado.
  </h1>
  <h1
    class='lg:text-7xl md:text-6xl text-4xl text-slate font-bold'>
    Ingeniero Civil Informático.
  </h1>
</div>

<div>
  <p class='max-w-xl text-slate lg:text-base text-sm'>
    Me considero un apasionado por aprender y estar
    actualizado en las últimas tendencias y tecnologías.
  </p>
  <p class='max-w-xl text-slate lg:text-base text-sm'>
    Siempre estoy abierto a nuevas oportunidades para poner
    en práctica mis habilidades y conocimientos en proyectos
    desafiantes y enriquecedores.
  </p>
</div>

<Link href='#contacto'>Hablemos</Link>
