<h2
  class='flex whitespace-nowrap lg:text-5xl sm:text-4xl text-3xl font-bold after:block after:relative lg:after:top-7 sm:after:top-6 after:top-5 after:w-full after:h-px after:ml-4 after:bg-dark-slate'>
  <slot />
</h2>
